
* {
    box-sizing: border-box;
}

body {
    background-color: white;
}

h1 {
   margin-bottom: 5px;
text-align: center;
}

section {
    position: relative;
    padding: 15px;
    width: 90%;
}

p {
    position: relative;
    clear: right;
}

div {
    position: relative;
    background-color: gray;
    border: 3.5px solid black;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

.sub1 {
    float: right;
    width: 100px;
    padding: 5px;
    margin: -3px -3px 0px;
    border: 2px solid black;
    text-align: center;
    font-size: 100%;
        background-color: #FFB6C1;

}

.sub2 {
    float: right;
    color: white;
    width: 100px;
    padding: 5px;
    margin: -3px -3px 0px;
    border: 3.5px solid black;
    text-align: center;
    font-size: 100%;
    background-color: #FF0000;

}

.sub3 {
    color: black;
    float: right;
    width: 100px;
    padding: 5px;
     margin: -3px -3px 0px;
    border: 3.5px solid black;
    text-align: center;
    font-size: 100%;
    background-color: rgb(223, 212, 121);

}

.content {
    padding: 5px;
    border: none;
    background-color: gray;
    font-family: Helvetica;
    color: black;
    margin: 2px ;
    height: 150px;
    overflow: auto;
}

.row {
    width: 90%;
}

/*desktop version*/
@media (min-width: 992px) {
    .column-lg-4 {
        float: left;
        width: 33.33%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .colmn-md-6 {
        float: left;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .colmn-md-12 {
        float: left;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 767px) {
    .colmn-sm-12 {
        float: left;
        width: 100%;
    }
}
